.popup__title {
    width: 83.3%;
    margin: 34px auto 54px;
    padding: 0;
    font-size: 24px;
    line-height: 29px;
    font-weight: 900;
    color: black;
}

@media (max-width: 425px) {
    .popup__title {
        font-size: 18px;
        line-height: 22px;
        margin: 25px auto 75px;
    }
}